################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OGL3D/vendor/glad/src/glad.c
/OGL3D/vendor/glad/src/glad_glx.c
/OGL3D/vendor/glad/src/glad_wgl.c
/.vs/OpenGLGame/FileContentIndex
/.vs/OpenGLGame/v17
